.center {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

.center-content {
  width: 500px;
  height: 200px;
}

.form-header {
  margin: 10px;
  background-color: #ba9541;
  color: white;
  font-size: 14px;
  font-weight: bolder;
  padding: 12px;
}

.zebra:nth-child(even) {
  background: #f8f8f8;
  border-top: 1px solid #f0f0f0;
}
.zebra .left,
.zebra .right {
  padding: 8px 16px;
  line-height: 32px;
  font-size: 12px;
  font-weight: 300;
  color: #ba9541;
}
.zebra .right {
  text-align: right;
  font-weight: 500;
  color: #171d24;
}
